.banner-subscribe-input {
  flex: 1;
}

.banner-subscribe-input.cluster > * {
  justify-content: flex-end;
}

.banner-subscribe-input input {
  font-size: 2rem;
}

.banner-subscribe-input input.email {
  background: var(--faded-color);
}
