.admin-edit {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--space-10) var(--space-10);
  margin: var(--space-10) var(--space-10);
  background: var(--color-pure-white);
  z-index: 3;
}

.admin-edit a {
  color: var(--color-paprika);
}

.admin-edit a:hover {
  text-decoration: underline;
}