.admin-edit {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--body-padding-y) var(--body-padding-x);
}

.admin-edit .box-card {
  background: var(--color-pure-white);
  border-radius: .25rem;
}
