.fold-article-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
}

.fold-article-list a {
  display: flex;
  justify-content: space-between;
}

.fold-article-list-number {
  width: 4em;
  flex-shrink: 0;
  font-size: 0.8em;
}

.fold-article-list-title-block {
  flex: 1;
}

.fold-article-list-title-block h5 {
  color: var(--secondary-text-color);
}

.fold-article-list-arrow {
  width: 3em;
  text-align: right;
  margin-right: 1em;
}

.fold-article-list > * {
  margin-top: 0;
  margin-bottom: var(--small-space);
}

.fold-article-list > * + * {
  padding-top: var(--small-space);
  border-top: var(--primary-font-thickness) solid var(--faded-color);
}
