.fold-body-main.cluster > * {
  align-items: start;
}

.fold-body-content {
  width: calc((100% - 3 * var(--cluster-space)) * 5 / 10);
}

.fold-body-details {
  width: calc((100% - 3 * var(--cluster-space)) * 2 / 10);
}
