.fold-body h2 {
  border-bottom: var(--primary-font-thickness) solid var(--faded-color);
  padding-bottom: 4rem;
}

.fold-body-main.cluster > * {
  align-items: start;
}

.fold-body-content {
  width: calc((100% - 3 * var(--space)) * 5 / 10);
}

.fold-body-details {
  width: calc((100% - 3 * var(--space)) * 2 / 10);
}
