.fold-cover {
  /* TODO: s3ththompson I don't know why 1.5 works here */
  height: calc(100vh - 2 * var(--body-padding-y) - 1.5 * var(--primary-line-height) - var(--stack-space));
  display: flex;
  justify-content: space-between;
}

.fold-cover.fold-cover-default {
  background: url('/assets/images/default-background.jpg');
  background-size: cover;
  background-position: center;
}

.fold-cover-separator {
  color: var(--secondary-text-color);
}

.fold-cover-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fold-cover-details {
  width: 40%;
}

.fold-cover-publication-info {
  width: 75%;
}

.fold-cover-publication-text {
  color: var(--secondary-text-color);
}
