.fold-cover-summary {
  height: 65vh;
}

.fold-cover-summary--has-background {
  background: var(--background-url);
  background-size: cover;
  background-position: left center;
}

.fold-cover-summary.card a:hover {
  color: inherit;
}

.fold-cover-summary__block {
  width: var(--space-40);
}
