.fold-list-item {
  padding: var(--space-10);
}

.fold-list-item:hover {
  background: var(--color-gray-100);
}

.fold-list-item__preview {
  position: relative;
  aspect-ratio: 888 / 1750;
  overflow: hidden;
  margin-right: var(--space-40);
}

.fold-list-item__preview img {
  position: absolute;
  width: 100%;
}

.fold-list-item:hover .fold-list-item__preview img {
  transform: translateY(-50%);
}