.fold-preview {
  --height: 25vw;
  --primary-color:  var(--color-white);
  --highlight-color: var(--color-white);
  --secondary-color: var(--color-faded);
  --background-color:  var(--color-paprika);
  position: relative;
  color: var(--primary-color);
}

.fold-preview a.no-link-animation {
  color: unset;
}

.fold-preview-placeholders.cluster > * {
  margin: calc(var(--space) / 2 * -1) calc(var(--space) * -2);
  align-items: stretch;
}

.fold-preview-prev,
.fold-preview-next,
.fold-preview-current-placeholder {
  background-color: var(--color-paprika);
  padding: var(--inset-padding-y) 0;
}

.fold-preview-current-placeholder {
  flex: 1
}

.fold-preview-prev,
.fold-preview-next {
  width: 15%;
  display: flex;
  justify-content: center;
}

.fold-preview-image {
  height: var(--height);
}

.fold-preview-image img {
  height: 100%;
}

.fold-preview-prev .fold-preview-translate {
  transform: translateX(-50%);
}

.fold-preview-prev .fold-preview-caption {
  text-align: right;
}

.fold-preview-current .fold-preview-caption {
  text-align: center;
}

.fold-preview-next .fold-preview-translate {
  transform: translateX(50%);
}

.fold-preview-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
