.fold-viewer {
  height: calc(90vh - 2 * var(--body-padding-y) - var(--primary-line-height) - var(--stack-space));
  background: var(--card-background-color);
  position: relative;
}

.fold-viewer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: none !important;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
}

#fold-viewer-loading svg {
  animation: loading-rotate 2s linear infinite;
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}