.page-body a {
  color: var(--color-paprika);
}

.page-body a:hover {
  text-decoration: underline;
}

.page-body ul,
.page-body ol {
  margin-left: 3ch;
}


.page-body blockquote {
  margin-left: 3ch;
}

.page-body ol {
  list-style-type: decimal;
}

.page-body ul {
  list-style-type: disc;
}

.page-body li {
  padding-left: var(--space-20);
}

.page-body p,
.page-body ul,
.page-body ol {
  margin-bottom: var(--body-line-height-em);
}

.page-body figure {
  margin-left: var(--space-80);
  max-width: 50%;
  margin-bottom: var(--space-80);
}

.page-body img {
  max-width: 100%;
}

.page-body .footnote {
  font-weight: 500;
}

.page-body .footnotes-container {
  margin-top: var(--space-80);
  border-top: var(--line-width) solid var(--color-gray-200);
  padding-top: var(--space-10);
  color: var(--color-gray-500);
}

.page-body .footnotes-list {
  margin-left: var(--space-40);
}

.page-body .footnotes-container li {
  margin-bottom: calc(var(--detail-line-height-em) / 2);
}

.page-body .footnotes-container a {
  color: inherit;
}

.fade-enter,
.fade-leave {
    transition: opacity 0.4s ease;
}

.fade-enter-start,
.fade-leave-end {
    opacity: 0;
}

.fade-enter-end,
.fade-leave-start {
  opacity: 1;
}
