.page-body.cluster > * {
  align-items: start;
}

.content #footnotes {
  color: var(--secondary-text-color);
  font-size: var(--detail-font-size);
}

@media (--md-viewport) {
  .page-body.cluster > * > .page-body-details {
    width: calc((100% - 3 * var(--cluster-space-x)) / 4);
  }

  .page-body.cluster > * > .page-body-content {
    width: calc((100% - 3 * var(--cluster-space-x)) * 2.5 / 4);
  }
}

@media (--lg-viewport) {
  .page-body.cluster > * > .page-body-content {
    width: calc((100% - 3 * var(--cluster-space-x)) / 2);
  }
}
