.page-footer {
  height: var()
}

.page-footer__circles {
  width: calc(var(--detail-font-size) * 2);
  height: calc(var(--detail-font-size));
  background: url('/assets/images/circles.svg');
  background-repeat: no-repeat;
}

.page-footer__dots {
  height: var(--detail-font-size);
  background: url('/assets/images/dots.svg');
}