.page-intro {
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--space);
  padding-bottom: 3rem;
  font-size: var(--emphasis-font-size);
  width: 100%;
}

.page-intro-content {
  width: 90%;
}
