.page-menu {
  min-width: 100%;
  padding-top: calc(var(--body-font-size) * 1/22);
  padding-bottom: calc(var(--body-font-size) * 3/22);
}

.page-nav .page-menu {
  background: var(--color-paprika);
}

.page-menu a:hover {
  color: var(--color-paprika);
}

.page-nav .page-menu a:hover {
  color: var(--color-black);
}

.font--inverted .page-menu {
  background: var(--color-white);
  color: var(--color-paprika);
}

.page-menu li {
  margin-left: var(--space-20);
}