.banner-subscribe {
  padding: calc(var(--inset-padding-y) / 2) calc(var(--inset-padding-x) / 2);
  background: var(--color-lightest-gray);
}

.banner-subscribe-input {
  flex: 1;
}

.banner-subscribe-input.cluster > * {
  justify-content: flex-end;
}

.banner-subscribe-input input {
  font-size: 2rem;
}

.banner-subscribe-input input.email {
  background: var(--color-light-gray);
}
