:root {
  --primary-font-family: "Söhne", -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary-font-size: calc(0.4rem + 0.7vw);
  --primary-font-thickness: 0.1rem;
  --primary-line-height: 1.2rem;
  --emphasis-font-size: 1.5rem;
  --detail-font-size: 0.85rem;

  --default-space: 1rem;
  --small-space: calc(var(--default-space) / 2);
  --line-height-space: var(--primary-line-height);
  --large-space: calc(var(--primary-line-height) * 3);

  --body-padding-x: var(--default-space);
  --body-padding-y: var(--small-space);
  --box-card-padding-x: var(--default-space);
  --box-card-padding-y: var(--default-space);
  --box-card-inset-padding-x: calc(var(--default-space) * 2);
  --box-card-inset-padding-y: calc(var(--default-space) * 2);
  --box-card-large-inset-padding-x: calc(var(--default-space) * 4);
  --box-card-large-inset-padding-y: calc(var(--default-space) * 3);
  --box-block-padding-bottom: var(--large-space);

  --color-paprika: #FF5722;
  --color-light-paprika: rgba(255, 255, 255, 0.5);
  --color-lighter-paprika: rgba(255, 255, 255, 0.2);
  --color-white: #efefef; /* TODO: #f0eae6?? */
  --color-black: #0F0F0F;
  --color-light-gray: rgba(0, 0, 0, 0.6);
  --color-lighter-gray: rgba(0, 0, 0, 0.1);
  --color-lightest-gray: rgba(0, 0, 0, 0.05);

  --primary-text-color:  var(--color-black);
  --highlight-text-color: var(--color-paprika);
  --secondary-text-color: var(--color-light-gray);
  --faded-color: var(--color-lighter-gray);
  --background-color:  var(--color-white);
  --card-background-color: var(--color-lightest-gray);

	font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
}

/* 0.9rem = 0.4rem + 0.7vw when width is 1143px */
@media (max-width: 1143px) {
  :root {
    --primary-font-size: 0.9rem;
  }
}

body {
  padding: var(--body-padding-y) var(--body-padding-x);
  background: var(--background-color);
  overflow-x: hidden;
}

.content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.content #footnotes {
  color: var(--secondary-text-color);
  font-size: var(--detail-font-size);
}

h1, h2, h3, h4, h5 {
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

h1 {
  font-size: 4.5rem;
  line-height: 0.9;
  font-style: italic;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

b, strong {
  font-weight: 500;
}

a:not(.no-link-animation) {
  color: var(--highlight-text-color);
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(to bottom, transparent 20%, var(--faded-color) 21%);

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 0% 100%;

  transition: background-size 0.2s ease-in-out 0.2s;
}

a:not(.no-link-animation):hover,
a:not(.no-link-animation):focus {
  background-size: 100% 100%;
  transition-delay: 0s;
}

a.no-link-animation {
  color: var(--highlight-text-color);
  text-decoration: none;
}

.stack {
  --stack-space: var(--line-height-space);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-space);
}

.stack.stack-recursive * + * {
  margin-top: var(--stack-space);
}

.stack.stack-ruled {
  --stack-space: calc(var(--line-height-space) / 2);
}

.stack.stack-ruled > * + * {
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--stack-space);
}

.cluster {
  --cluster-space: var(--default-space);
  /* overflow: hidden; */
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin: calc(var(--cluster-space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--cluster-space) / 2);
}

.box-card {
  padding: var(--box-card-padding-x) var(--box-card-padding-y);
  background: var(--card-background-color);
}

.box-card.box-card-inverted {
  --primary-text-color:  var(--color-white);
  --highlight-text-color: var(--color-white);
  --secondary-text-color: var(--color-light-paprika);
  --faded-color: var(--color-lighter-paprika);
  --background-color:  var(--color-paprika);
  --card-background-color: var(--color-paprika);
  background: var(--card-background-color);
  color: var(--primary-text-color);
}

.box-card.box-card-inset {
  padding: var(--box-card-inset-padding-y) var(--box-card-inset-padding-x);
}

.box-card.box-card-large-inset {
  padding: var(--box-card-large-inset-padding-y) var(--box-card-large-inset-padding-x);
}

.box-block {
  --box-block-space: var(--box-block-padding-bottom);
  padding-bottom: var(--box-block-space);
}

.box-block.box-block-ruled {
  --ruled-space: var(--line-height-space);
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--ruled-space);
}

.h100 {
  height: 100%;
}

.center,
.content figure {
  box-sizing: content-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content figure img {
  max-width: 100%;
}

button,
a.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: calc(var(--primary-font-thickness) * 1.5) solid transparent;
  padding: .375rem .75rem .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background: var(--highlight-text-color);
  color: var(--background-color);
}

button:not(:disabled):not(.disabled),
a.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.focus, button:focus,
a.button.focus, a.button:focus {
  outline: 0;
  box-shadow: 0 0 0 var(--primary-font-thickness) var(--faded-color);
}

button:hover,
a.button:hover {
  background: var(--background-color);
  border: calc(var(--primary-font-thickness) * 1.5) dashed var(--highlight-text-color);
  color: var(--highlight-text-color);
}
