:root {
  --body-font-family: "Söhne", -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --body-font-weight: 400;
  --body-font-style: normal;
  --body-font-size: 22px;
  --body-line-height: 1.2;
  --body-line-height-em: 1.2em;

  --title-font-weight: 800;
  --title-font-style: italic;
  --title-font-size: calc(var(--body-font-size) * 80/22);
  --title-line-height: calc(80/80);
  --title-line-height-em: calc(80/80 * 1em);

  --heading-font-weight: 400;
  --heading-font-style: normal;
  --heading-font-size: calc(var(--body-font-size) * 32/22);
  --heading-line-height: calc(36/32);
  --heading-line-height-em: calc(36/32 * 1em);

  --nav-font-weight: 800;
  --nav-font-style: normal;
  --nav-font-size: calc(var(--body-font-size) * 20/22);
  --nav-line-height: calc(16/20);
  --nav-line-height-em: calc(16/20 * 1em);

  --detail-font-weight: 400;
  --detail-font-style: normal;
  --detail-font-size: calc(var(--body-font-size) * 16/22);
  --detail-line-height: calc(36/32);
  --detail-line-height-em: calc(36/32 * 1em);

  --line-width: calc(var(--body-font-size) * 2/22);

  --space-5: calc(var(--body-font-size) * 5/22);
  --space-10: calc(var(--body-font-size) * 10/22);
  --space-20: calc(var(--body-font-size) * 20/22);
  --space-40: calc(var(--body-font-size) * 40/22);
  --space-60: calc(var(--body-font-size) * 60/22);
  --space-80: calc(var(--body-font-size) * 80/22);
  --space-100: calc(var(--body-font-size) * 100/22);

  --body-padding-x: calc(var(--space-10) / 2);
  --body-padding-y: var(--space-10);

  --gutter: var(--space-20);
  --bs-gutter-x: var(--gutter);
  --bs-gutter-y: 0;

  --color-white: rgb(239, 239, 239);
  --color-paprika: rgb(255, 87, 33);
  --color-pure-white: rgb(255, 255, 255);
  --color-black: rgb(15, 15, 15);
  --color-gray-100: rgb(229, 229, 229);
  --color-gray-200: rgb(196, 196, 196);
  --color-gray-400: rgb(153, 153, 153);
  --color-gray-500: rgb(128, 128, 128);

  --animation-duration: 0.2s;

	font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-paprika: color(display-p3 0.996 0.340 0.128);
  }
}

.container-xxxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1600px) {
  .container-xxxl {
    max-width: 1600px;
  }
}

html {
  height: 100%;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  min-height: 100%;
  position: relative;
}

main {
  padding-top: calc(var(--body-font-size) * 40/22);
}

.swup-progress-bar {
  height: calc(var(--body-font-size) * 10/22);
}

#swup main {
  transition: opacity 0.4s;
  opacity: 1;
}

html.is-animating #swup main {
  opacity: 0;
}

html.is-animating.is-leaving #swup main {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.font-body {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.font-title {
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
}

.font-heading {
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
}

.font-nav {
  font-weight: var(--nav-font-weight);
  font-style: var(--nav-font-style);
  font-size: var(--nav-font-size);
  line-height: var(--nav-line-height);
  text-transform: uppercase;
}

.font-detail {
  font-weight: var(--detail-font-weight);
  font-style: var(--detail-font-style);
  font-size: var(--detail-font-size);
  line-height: var(--detail-line-height);
}

.font--secondary {
  color: var(--color-gray-400);
}

.font--inverted {
  color: var(--color-white);
}

.space-after-5 {
  margin-bottom: var(--space-5);
}

.space-after-10 {
  margin-bottom: var(--space-10);
}

.space-after-20 {
  margin-bottom: var(--space-20);
}

.space-after-40 {
  margin-bottom: var(--space-40);
}

.space-after-60 {
  margin-bottom: var(--space-60);
}

.space-after-80 {
  margin-bottom: var(--space-80);
}

.space-after-100 {
  margin-bottom: var(--space-100);
}

.space-before-5 {
  margin-top: var(--space-5);
}

.space-before-10 {
  margin-top: var(--space-10);
}

.space-before-20 {
  margin-top: var(--space-20);
}

.space-before-40 {
  margin-top: var(--space-40);
}

.space-before-60 {
  margin-top: var(--space-60);
}

.space-before-80 {
  margin-top: var(--space-80);
}

.space-before-100 {
  margin-top: var(--space-100);
}

.space-inside-before-5 {
  padding-top: var(--space-5);
}

.space-inside-before-10 {
  padding-top: var(--space-10);
}

.space-inside-before-20 {
  padding-top: var(--space-20);
}

.space-inside-before-40 {
  padding-top: var(--space-40);
}

.space-inside-before-60 {
  padding-top: var(--space-60);
}

.space-inside-before-80 {
  padding-top: var(--space-80);
}

.space-inside-before-100 {
  padding-top: var(--space-100);
}

.space-inside-after-5 {
  padding-bottom: var(--space-5);
}

.space-inside-after-10 {
  padding-bottom: var(--space-10);
}

.space-inside-after-20 {
  padding-bottom: var(--space-20);
}

.space-inside-after-40 {
  padding-bottom: var(--space-40);
}

.space-inside-after-60 {
  padding-bottom: var(--space-60);
}

.space-inside-after-80 {
  padding-bottom: var(--space-80);
}

.space-inside-after-100 {
  padding-bottom: var(--space-100);
}

b, strong {
  font-weight: 500;
}

address {
  font-style: unset;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: var(--color-paprika);
}

button, select {
  text-transform: unset;
}

button,
a.button,
input.button,
input[type="submit"] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.overflow-hidden {
  overflow: hidden;
}

.rule {
  border-top: var(--line-width) solid var(--color-gray-200);
  padding-top: var(--space-10);
}

.rule--paprika {
  border-color: var(--color-paprika);
}

.rule--white {
  border-color: var(--color-white);
}

.rule--black {
  border-color: var(--color-black);
}

.row {
  --bs-gutter-x: var(--gutter);
  --bs-gutter-y: 0;
}

.g-0, .gy-0 {
    --bs-gutter-y: 0;
}

.g-0, .gx-0 {
    --bs-gutter-x: 0;
}

.card {
  position: relative;
}

.card.card--highlight:hover {
  background: var(--color-gray-100);
}

.card.card--highlight a.card-target:hover {
  color: inherit;
}

.card a:not(.card-target) {
  position: relative;
  z-index: 2;
}

.card a.card-target::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.background-white {
  background: var(--color-white);
}

.background-paprika {
  background: var(--color-paprika);
}

.background-pure-white {
  background: var(--color-pure-white);
}

.background-black {
  background: var(--color-black);
}

.background-gray-100 {
  background: var(--color-gray-100);
}

.background-gray-200 {
  background: var(--color-gray-200);
}

.background-gray-400 {
  background: var(--color-gray-400);
}

.background-gray-500 {
  background: var(--color-gray-500);
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

@keyframes bounce-pulse {
  0% {
    transform: translateY(0.1875em);
  }
  30% {
    transform: translateY(-0.25em);
  }
  50% {
    transform: translateY(0.1875em);
  }
}

.loading-bounce {
    display: inline-block;
    line-height: 0;
}

.loading-bounce > div {
    animation-duration: inherit;
    animation-iteration-count: infinite;
    animation-name: bounce-pulse;
    animation-timing-function: ease-in-out;
    background-color: currentColor;
    border-radius: 100%;
    display: inline-block;
    height: 0.5em;
    transform: translateY(0.1875em);
    width: 0.5em;
}