:root {
  --primary-font-family: "Söhne", -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary-font-size: 0.9rem;
  --primary-font-thickness: 0.1rem;
  --primary-line-height: 1.2rem;
  --primary-relative-line-height: 1.2;
  --tiny-font-size: 0.75rem;
  --detail-font-size: 0.85rem;
  --emphasis-font-size: 1.2rem;
  --big-font-size: 1.8rem;
  --huge-font-size: 3.2rem;

  --default-space: 1rem;
  --small-space: calc(var(--default-space) / 2);
  --line-height-space: var(--primary-line-height);
  --medium-space: calc(var(--primary-line-height) * 2);
  --large-space: calc(var(--primary-line-height) * 3);

  --body-padding-x: var(--default-space);
  --body-padding-y: var(--small-space);
  --box-card-padding-x: var(--default-space);
  --box-card-padding-y: var(--default-space);
  --box-card-inset-padding-x: calc(var(--default-space) * 1.5);
  --box-card-inset-padding-y: calc(var(--default-space) * 1.5);
  --box-card-large-inset-padding-x: calc(var(--default-space) * 2);
  --box-card-large-inset-padding-y: calc(var(--default-space) * 2);
  --box-block-padding-bottom: var(--large-space);
  --box-block-small-padding-bottom: var(--medium-space);
  --box-narrower-padding-right: var(--large-space);
  --input-padding-x: 0.75em;
  --input-padding-y: 0.375em;

  --color-paprika: #FF5722;
  --color-light-paprika: rgba(255, 255, 255, 0.5);
  --color-lighter-paprika: rgba(255, 255, 255, 0.2);
  --color-pure-white: #FFFFFF;
  --color-white: #EFEFEF; /* TODO: #f0eae6?? */
  --color-black: #0F0F0F;
  --color-light-gray: rgba(0, 0, 0, 0.5);
  --color-lighter-gray: rgba(0, 0, 0, 0.1);
  --color-lightest-gray: rgba(0, 0, 0, 0.05);

  --primary-text-color:  var(--color-black);
  --highlight-text-color: var(--color-paprika);
  --secondary-text-color: var(--color-light-gray);
  --faded-color: var(--color-lighter-gray);
  --background-color:  var(--color-white);
  --card-background-color: var(--color-lightest-gray);

  --animation-duration: 0.2s;

	font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
}

/* 0.9rem = 0.4rem + 0.7vw when width is 1143px */
@custom-media --dynamic-text-cutoff (min-width: 1143px);
@custom-media --md-viewport (min-width: 700px);
@custom-media --lg-viewport (min-width: 1000px);


@media (--dynamic-text-cutoff) {
  :root {
    --primary-font-size: calc(0.4rem + 0.7vw);
  }
}

@media (--md-viewport) {
  :root {
    --big-font-size: 1.8rem;
    --huge-font-size: 4.5rem;

    --box-card-inset-padding-x: calc(var(--default-space) * 2);
    --box-card-inset-padding-y: calc(var(--default-space) * 2);
    --box-card-large-inset-padding-x: calc(var(--default-space) * 4);
    --box-card-large-inset-padding-y: calc(var(--default-space) * 3);
  }
}

html {
  height: 100%;
}

body {
  padding: var(--body-padding-y) var(--body-padding-x);
  background: var(--background-color);
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

h1, h2, h3, h4, h5 {
  font-size: unset;
  font-weight: unset;
  line-height: var(--primary-relative-line-height);
}

h1 {
  font-size: var(--huge-font-size);
  line-height: 0.9;
  font-style: italic;
  font-weight: 800;
}

h2 {
  font-size: var(--big-font-size);
}

h3 {
  font-size: var(--big-font-size);
}

h4 {
  font-size: var(--emphasis-font-size);
}

h6 {
  font-size: var(--tiny-font-size);
  color: var(--secondary-text-color);
  font-weight: 500;
}

b, strong {
  font-weight: 500;
}

address {
  font-style: unset;
}

ul, ol {
  list-style: none;
}

input {
  padding: var(--input-padding-y) var(--input-padding-x);
  border: var(--primary-font-thickness) solid var(--faded-color);
}

a {
  text-decoration: none;
  color: currentColor;
}

a:not(.no-link-animation) {
  color: var(--highlight-text-color);
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(to bottom, transparent 20%, var(--faded-color) 21%);

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 0% 100%;

  transition: background-size var(--animation-duration) ease-in-out var(--animation-duration);
}

a:not(.no-link-animation):hover,
a:not(.no-link-animation):focus {
  background-size: 100% 100%;
  transition-delay: 0s;
}

h1 a {
  color: currentColor;
  background:none;
  transition: unset;
}

h1 a:hover,
a.no-link-animation:hover {
  color: var(--highlight-text-color);
}


button,
a.button,
input.button,
input[type="submit"] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--primary-font-thickness) solid transparent;
  padding: var(--input-padding-y) var(--input-padding-x);
  background: var(--faded-color);
  color: var(--primary-text-color-color);
}

button.button-primary,
a.button.button-primary,
input.button.button-primary,
input[type="submit"].button-primary {
  background: var(--highlight-text-color);
  color: var(--background-color);
}

button:not(:disabled):not(.disabled),
a.button:not(:disabled):not(.disabled),
input.button:not(:disabled):not(.disabled),
input[type="submit"]:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button:hover,
a.button:hover,
input.button:hover,
input[type="submit"]:hover {
  background: none;
  border: var(--primary-font-thickness) dashed var(--faded-color);
  color: var(--primary-text-color);
}

button.button-primary:hover,
a.button.button-primary:hover,
input.button.button-primary:hover,
input[type="submit"].button-primary:hover {
  background: none;
  border: var(--primary-font-thickness) dashed var(--highlight-text-color);
  color: var(--highlight-text-color);
}

:focus {
  outline: var(--primary-font-thickness) dashed var(--highlight-text-color);
}

.separator {
  color: var(--secondary-text-color);
}

.stack {
  --stack-space: var(--line-height-space);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack.stack-ruled {
  --stack-space: calc(var(--line-height-space) / 2);
}

.stack.stack-small {
  --stack-space-small: calc(var(--line-height-space) / 4);
}

.stack.stack-small.stack-ruled {
  --stack-space-small: calc(var(--line-height-space) / 8);
}

.stack.stack-space-between {
  justify-content: space-between;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *,
.stack.stack-recursive * + * {
  margin-top: var(--stack-space);
}

.stack.stack-small > * + *,
.stack.stack-small.stack-recursive * + * {
  margin-top: var(--stack-space-small);
}

.stack.stack-ruled > * + * {
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--stack-space);
}

.stack.stack-small.stack-ruled > * + * {
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--stack-space-small);
}

.cluster {
  --cluster-space-x: var(--default-space);
  --cluster-space-y: var(--line-height-space);
  /* overflow: hidden; */
}

.cluster.cluster-small {
  --cluster-space-x: calc(var(--default-space) / 2);
  --cluster-space-y: calc(var(--line-height-space) / 2);
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  margin: 0 calc(var(--cluster-space-x) / 2 * -1);
}

.cluster.cluster-stack > * {
  margin: calc(var(--cluster-space-y) / 2 * -1) calc(var(--cluster-space-x) / 2 * -1);
}

.cluster.cluster-stretch > * {
  align-items: stretch;
}

.cluster > * > * {
  margin: 0 calc(var(--cluster-space-x) / 2);
}

.cluster.cluster-stack > * > * {
  margin: calc(var(--cluster-space-y) / 2) calc(var(--cluster-space-x) / 2);
}

.cluster.cluster-switcher > * > * {
  width: 100%;
}

.cluster.cluster-switcher.cluster-ruled > * > * + * {
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--cluster-space-y);
}

@media (--md-viewport) {
  .cluster.cluster-switcher > * > * {
    width: unset;
  }

  .cluster.cluster-2-2-column > * > * {
    width: calc((100% - 2 * var(--cluster-space-x)) / 2);
  }

  .cluster.cluster-1-1-1-1-column > * > * {
    width: calc((100% - 4 * var(--cluster-space-x)) / 4);
  }

  .cluster.cluster-1-3-column > * > *:nth-child(1) {
    width: calc((100% - 2 * var(--cluster-space-x)) / 4);
  }

  .cluster.cluster-1-3-column > * > *:nth-child(2) {
    width: calc((100% - 2 * var(--cluster-space-x)) * 3 / 4);
  }

  .cluster.cluster-1-1-2-column > * > *:nth-child(1),
  .cluster.cluster-1-1-2-column > * > *:nth-child(2) {
    width: calc((100% - 3 * var(--cluster-space-x)) / 4);
  }

  .cluster.cluster-1-1-2-column > * > *:nth-child(3) {
    width: calc((100% - 3 * var(--cluster-space-x)) * 2 / 4);
  }

  .cluster.cluster-switcher.cluster-ruled > * > * + * {
    border-top: unset;
    padding-top: unset;
  }
}

.box-card {
  padding: var(--box-card-padding-x) var(--box-card-padding-y);
  background: var(--card-background-color);
}

.box-card.box-card-inverted {
  --primary-text-color:  var(--color-white);
  --highlight-text-color: var(--color-white);
  --secondary-text-color: var(--color-light-paprika);
  --faded-color: var(--color-lighter-paprika);
  --background-color:  var(--color-paprika);
  --card-background-color: var(--color-paprika);
  background: var(--card-background-color);
  color: var(--primary-text-color);
}

.box-card.box-card-inset {
  padding: var(--box-card-inset-padding-y) var(--box-card-inset-padding-x);
}

.box-card.box-card-large-inset {
  padding: var(--box-card-large-inset-padding-y) var(--box-card-large-inset-padding-x);
}

.box-block {
  --box-block-space: var(--box-block-padding-bottom);
  padding-bottom: var(--box-block-space);
}

.box-block-small {
  --box-block-small-space: var(--box-block-small-padding-bottom);
  padding-bottom: var(--box-block-small-space);
}

.box-block.box-block-ruled {
  --ruled-space: var(--line-height-space);
  border-top: var(--primary-font-thickness) solid var(--faded-color);
  padding-top: var(--ruled-space);
}

.box-block.box-block-md-bottom-ruled {
  --ruled-space: var(--line-height-space);
  border-bottom: var(--primary-font-thickness) solid var(--faded-color);
  padding-bottom: var(--box-block-space);
}

.box-block.box-block-tight {
  padding-bottom: 0;
}

@media (--md-viewport) {
  .box-block.box-block-md-bottom-ruled {
    border-bottom: unset;
    padding-bottom: unset;
  }
}

@media (--lg-viewport) {
  .box-narrower {
    padding-right: var(--box-narrower-padding-right);
  }
}

.box-link {
  position: relative;
}

.box-link-secondary-link {
  position: relative;
  z-index: 2;
}

.box-link-target-link:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0; left: 0; bottom: 0; right: 0;
}

.h100 {
  height: 100%;
}

.center,
.content figure {
  box-sizing: content-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content figure img {
  max-width: 100%;
}

.simplebar-scrollbar:before {
  background: var(--secondary-text-color);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
