.subscription-bundles.cluster > * > * {
  align-self: stretch;
  flex: 1;
}

.subscription-bundle-content {
  flex: 1;
}

.subscription-bundle-content.stack {
  --stack-space: var(--small-space);
}

.subscription-bundle h2 {
  font-size: 1.2rem;
  padding-bottom: var(--small-space);
  border-bottom: var(--primary-font-thickness) solid var(--faded-color);
}

.subscription-bundle .description {
  font-style: italic;
}

.subscription-bundle h3 {
  font-size: 1rem;
}

.subscription-bundle h4,
.subscription-bundle h5 {
  font-size: var(--detail-font-size);
}

.subscription-bundle-details.cluster > * > * {
  align-self: start;
  flex: 1;
}
