.subscription-bundles {
  margin-bottom: calc(var(--space) * 2);
}

.subscription-bundles.cluster > * > * {
  align-self: stretch;
  flex: 1;
}

.subscription-bundle {
  --background-color: var(--color-paprika);
  --primary-color: var(--color-white);
  --highlight-color: var(--color-white);
  --secondary-color: var(--color-light-paprika);
  --faded-color: var(--color-lightest-paprika);
  color: var(--primary-color);
  padding: var(--body-padding-y) var(--body-padding-x) calc(2 * var(--body-padding-y)) var(--body-padding-x);
  background: var(--background-color);
}

.subscription-bundle-content {
  flex: 1;
}

.subscription-bundle-content.stack {
  --space: var(--small-space);
}

.subscription-bundle h2 {
  font-size: 1.2rem;
  padding-bottom: var(--small-space);
  border-bottom: var(--primary-font-thickness) solid var(--faded-color);
}

.subscription-bundle .description {
  font-style: italic;
}

.subscription-bundle h3 {
  font-size: 1rem;
}

.subscription-bundle h4,
.subscription-bundle h5 {
  font-size: var(--detail-font-size);
}

.subscription-bundle-details.cluster > * > * {
  align-self: start;
  flex: 1;
}
