.menu {
  margin-bottom: calc(var(--small-space) * -1);
}

.menu.cluster {
  --cluster-space: var(--small-space);
}

.menu.cluster > * {
  justify-content: space-between;
}

.menu ul {
  list-style: none;
}
