.menu {
  position: sticky;
  top: var(--body-padding-y);
}

.menu.cluster {
  --space: var(--small-space);
}

.menu.cluster > * {
  justify-content: space-between;
}

.menu ul {
  list-style: none;
}
